<div class="container">
  <div class="row" style="padding-top: 100px !important;">
  <div class="col-1">

  </div>
  <div class="col-12">
    <div class="row">
      <div *ngFor = "let product of items " style="padding-bottom: 20px !important;" class="col-3">
        <div class="card border-primary">
            <img src = "{{product.url}}" height="200px;" > 
        </div>
        <div class="card-footer" style="background-color: white !important;">
            <div class="row">
              <div class="col-md-10 col-lg-10 col-xl-10" style="padding-left: 0px !important;">
                  {{product.name}}
              </div>
              <div class="col-md-2 col-lg-2 col-xl-2" style="padding-left: 0px !important;">
                  <i class="fa fa-cart-plus" aria-hidden="true" style="color: blue; font-size: 30px;"></i>
                  <!-- <button class="btn btn-block btn-fill btn-primary" (click)='addToCart(product)'>Add to Cart</button>
              <i class="fa fa-cart-plus pull-right" aria-hidden="true"></i> -->
              </div>
             
            </div>
            <div class="row">
              {{product.price}}
            </div>
        </div>
       
      </div>
      
    </div>
  </div>
</div>
</div>

