<div class="container">
    <div class="row">
        <div class="form_bg">
            <form>
                 <h2 class="text-center">Sign Up</h2>

                <br/>
                <div class="form-group">
                  <!-- <label for="username"> Name </label> -->
                    <input type="text" class="form-control" id="Name" placeholder="Name">
                </div>

                <div class="form-group">
                    <!-- <label for="username"> E-mail </label> -->
                      <input type="email" class="form-control" id="userid" placeholder="User id">
                  </div>
                  <div class="form-group">
                      <!-- <label for="username"> Phone Number </label> -->
                        <input type="text" class="form-control" id="phone" placeholder="Phone Number">
                    </div>
                <div class="form-group">
                    <!-- <label for="password" > Password </label> -->
                    <input type="password" class="form-control" id="pwd" placeholder="Password">
                </div>
                <br/>
                <div class="align-center form-group">
                    <button type="submit" class="btn btn-block btn-primary" id="signup">Signup</button>
                </div>
                <div class="align-center form-group">
                    <button [routerLink]="['/login']" type="submit" class="btn btn-block btn-danger" id="login">Already have an account?</button>
                </div>
            </form>
        </div>
    </div>
</div>